@font-face {
    font-family:"dyslexie";
    src: url(Dyslexie_Regular_159911.ttf);
}

@font-face {
    font-family:"dyslexie";
    src: url(Dyslexie_Bold_159911.ttf);
    font-weight: bold;
}

@font-face {
    font-family:"dyslexie";
    src: url(Dyslexie_Bold_Italic_159911.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family:"dyslexie";
    src: url(Dyslexie_Italic_159911.ttf);
    font-style: italic;
}

html {
    font-size: calc(7px + .8vw);
    min-width: 750px;
}

* {
    margin: 0px auto;
    padding: 0;
    /*max-width: 1200px;*/
    font-family: "dyslexie", sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 70, 126, 0.75);
    z-index: 9999;
    display: none;

  }

.screen-error {
    opacity: 1;
    color: white;
    text-align: center;
    margin-top: 100px;
    justify-content: left;
    max-width: 300px;
    margin-left: 50px;
    position: fixed;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p, a, li, div, form, input, .in-text {
    font-family: "Dyslexie", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: #222;
    text-decoration: none;
}

header, footer, .footer {
    background-color: #fff2a1;
    justify-content: space-between;
    padding: 0px 2%;
    align-items: center;
    color: #0063B2;
    font-size: .75rem;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
}



.in-text {
    text-decoration: underline;
    text-transform: none;
    font-size: .75rem;
}

footer {
    padding: 10px 20px;
}

header {
    width: 100%;
    box-sizing: border-box;
    top: 0px;
    position: fixed;
    z-index: 1;
    height: 72px;
}

h1 {
    font-size: 2.375rem;
    font-weight: 900;
    color: #0063B2;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
    color: #0063B2;
    text-align: center;
}

h3 {
    font-size: 1.125rem;
    font-weight: 900px;
    color: #0063B2;
    margin: 2% 0;
}

h4 {
    font-size: .8rem;
    font-weight: 900px;
    color: #0063B2;
    margin: 2% 0;
}

.h2-about {

    font-size: 2rem;

}

.h2-thanks {
    margin: 0px 60px 60px 60px;

}

a, .column {
    text-transform: uppercase;
    color: #0063B2;
    font-size: .75rem;
    text-align: left;
}

a:hover, .column:hover {
    color: #00C257 ;
}

.column {
    column-count: 2;
    column-gap: 40px;
    column-span: all;
    width: 140px;
    text-align: left;
    padding-right: 60px;
    
}

.hero-image-home {
    background-image: url("images/hand-writing.png");min-width: 1000px;background-position: right;
} 

/*.hero-image-about {
    background-image: /*url("images/circle.png"); url(images/bright_insight_logo\ white.png)
    background-position: left;
    margin-bottom: 30px;
    margin-left: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #cccccc;
    margin-top: 100px;
    height: 450px;
}*/

.hero-image-home {
    background-color: #cccccc;
    height: 480px;
    max-width: 1200;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }

 .about-text {
    max-width: 860px;
    color: #0063B2;
    font-size: 1rem;
 }

 .big-logo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
 }

.hero-text {
    text-align: left;
    position: absolute;
    top: 160px;
    color: #0063B2;
    font-size: 3.125rem;
    padding-left: 60px;
    width: 1000px;
    font-family: "Dyslexie";
    box-sizing: border-box;
    font-weight: 600;
    line-height: 90px;

}

.involvement {
    background-color: #fff2a1;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    height: 40px;
    margin: 0px auto;
    flex-wrap: nowrap;
    color: #0063B2;
    text-transform: uppercase;
}

.icons {
    margin-left: 20px;
    border-radius: 10px;
}

.icons:hover {
    scale: 90%;
}

.button, .learn-more, .continue, .sm-continue, .sm-blog-navL, .sm-blog-navR, .contact-submit, .more, .donate, .popup {
    background-color: #EB47C7;
    text-align: center;
    display: inline-block;
    font-size: 1.125rem;
    text-transform: uppercase;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    width: 160px;
    color: white;
}

.button:hover, .learn-more:hover, .continue:hover, .sm-continue:hover, .sm-blog-navL:hover, .sm-blog-navR:hover, .contact-submit:hover, .more:hover, .donate:hover, .popup:hover {
    background-color: #ff66de;
    scale: 97%;
}

.home-button:hover {
    scale: 95%;
}

.donate, .popup {
    transform: translate(-5px, -8px);
}

.learn-more {
    width: 220px;
    position: absolute;
    top: 460px;
    box-sizing: border-box;
    margin-left: 37.5vw;
}

.testimonial-text {
    width: 740px;
    text-align: left;
    color: #00C257;
    font-weight: 900;
    font-size: 1rem;
    margin-left: 40px;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.testimonial-image {
    width: 500px;
    margin-top: -40px;
}

.about-top {
    text-align: right;
    position: absolute;
    top: 200px;
    color: #0063B2;
    font-size: 1rem;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 90px;
    padding-left:280px;
    box-sizing: border-box;
    
}

.more-about {
    align-items: center;
    text-align: center;
    margin: 80px;
    color: #0063B2;
    border-bottom: 3px solid #0063B2;
    padding: 0px 60px 60px 60px;
}

.mission {
    color:#EB47C7;
    padding-bottom: 20px;
}

.vision {
    color: #00C257;
    padding-bottom: 20px;
}

.values {
    color: #8B00C2;
    padding-bottom: 20px;
}

.question, .faq-arrow, .comment, .message, .message-text {
    text-align: left;
    align-items: center;
    padding: 10px;
    margin: 20px 60px;
    background-color: #66BBFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-size: .75rem;
}


.faq-arrow {
    text-align: right;
    float: right;
    margin: 0px 10px;
    padding: 0px;
    font-weight: 900;
    font-size: 1.25rem; 
}

.faq-arrow:hover {
    color: #EB47C7;
    scale: 125%;
    cursor: pointer;
}

.banner, .blog-banner, .page-banner, .services-banner {
    margin-top: 98px;
    color: #0063B2;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 20px;
}

.page-banner {
    padding: 0;
}

.blog-banner, .services-banner, .people-banner, .resources-banner {
text-align: center;
align-items: center;
font-size: 1.125rem;
border-bottom: solid 2px #00C257;
}

.page-banner, .contact-title {
    text-align: left;
    padding-left: 60px;
    margin-top: 90px;
}

.card {
    background-color:white;
    width: 300px;
    text-align: center;
    margin: 40px 10px 20px 10px;
    padding: 20px;
    display: inline-block;
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.p-card {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4; /*number of lines*/
    -webkit-box-orient: vertical;
    font-size: .75rem;
    margin-top: 6px;
    padding-top: 6px;
}

.continue {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-size: .875rem;
    width: 120px;
}

.large-image {
    margin: 4%;
    width: 30vw;
    height: fit-content;
    min-width: 280px;
}

.blog-block {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    align-content: center;
}

.profile {
    max-width: 36vw;
    font-size: .75rem;
    padding: 2vw;
    text-align: center;
    margin: 0px;

}

.profile-text {
    font-size: .7rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 9; /*number of lines*/
    -webkit-box-orient: vertical;
    max-lines: 3;
    overflow: hidden;
    text-overflow: ellipsis;

}

.profile-pic {
    width: 9vw;
    border-radius: 150px;
    min-width: 70px;
}

.more {
    font-size: .75rem;
    width: fit-content;
    padding: 3%;
}

.blog-text, .date {
    padding: 60px 120px 60px 60px;
    text-align: left;
    font-size: .875rem;
    line-height: 25px;
}

.date {
    font-size: .75rem;
    padding: 12px 120px 0px 60px;
}

.blog-title2 {
    text-align: left;
    padding-left: 60px;
    padding-top: 10px;
}

.comment {
    background-color: white;
    border: 2px solid #0063B2;
    color: #0063B2;
}

.sm-cards {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
}

.sm-card {
    background-color:white;
    width: 300px;
    text-align: center;
    margin: 40px auto;
    padding: 10px;
    display: inline-block;
}

.sm-p-card {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3; /*number of lines*/
    -webkit-box-orient: vertical;
    font-size: .75rem;
}

.sm-continue {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    font-size: .75rem;
    width: 100px
}

.sm-blog-navL, .sm-blog-navR {
   width:32px;
   padding: 0px;
   border-radius: 90px;
   transform: translate(0px, -180px);
   margin: 0px auto;
   flex-wrap: nowrap;
   white-space: nowrap;
}

.sm-blog-navL {
    padding-right: 4px;
    padding-bottom: 3px;
}

.sm-blog-navR {
    padding-bottom: 2px;
    padding-left: 3px;
}

section {
    border-bottom: 3px solid #0063B2;
    padding-bottom: 30px;
    scale: 80%;
    
}

.contact-title {
    text-align: center;
    margin: 160px auto 40px auto;
    padding: 0px;
}

.contact-submit {
    text-align: center;
    justify-content: center;
    margin: 0px auto;
    display: flex;
    margin-bottom: 40px;
}

/*form, .contact {
    width: 640px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px auto 20px auto;
    border: none;
}

input, input:focus{
    font: 40px;
    display: block;
    width: 600px;
    margin: 20px auto;
    color: #222;
    padding: 20px;
    background-color: #92FF66;
    border-radius: 10px;
    outline:#66BBFF;
    border: none;
}*/

.thanks-title {
    text-align: center;
    margin: 160px auto 16px auto;
    font-size: 3.875rem;
    text-transform: uppercase;
}

.section-nav1, .section-nav2, .section-nav3, .section-nav4 {
   display: flex;
   justify-content: space-between;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 0px auto;
   scale: 50%;
   transform: translate(0px, -60px);
}

.section-nav3, .section-nav4 {
    padding: 0px 90px;
}

.hat {
    scale:120%;
}

.nav2:hover {
    color: #EB47C7;
}

.nav-box {
    margin: 60px auto;
}

.calendar {
    margin: 0 auto 0 auto;
    width: 800px;
}

.info {
    margin: 0px auto;
    max-width: 680px;
    color: #0063B2;
    font-size: .75rem;
}

.service_contact {
    font-weight: 900;
    text-decoration: underline;
}

.ps {
    color: #0063B2;
    text-align: center;
}

.head-nav {
    font-size: .75rem;
}

.underline {
    text-decoration: underline;
}

.cal {
    transform: 0px 90px;
}

.foot-nav {
    font-size: .5rem;
}

.faq {
    margin: 60px 120px;
}

details {
    margin: 18px;
}

summary {
    background-color: #FFC4A3;
    padding: 8px;
    color: #222;
    border-radius: 9px;
}

.content {
    padding: 16px;
}

/*.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}*/

.filterDiv {
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 4px 6px;
    background-color: #E18FFF;
    cursor: pointer;
    font-size: .625rem;
    border-radius: 4px;
    color: #222;
    margin: 4px;

  }
  
  .btn:hover {
    background-color: #FFC4A3;
  }
  
  .btn.active {
    background-color: #8B00C2;
    color: white;
  }

  .sort-title {
    font-size: .5rem;
    margin: 6px 6px;
    color: #222;
  }

  .filters {
    margin-left: 160px;
    margin-top: 14px;
    max-width: 1200px;
    display: flex;
    flex-wrap:wrap;
  }

  .category, .category-date {
    margin: 0px 20px;
  }

  .break {
    flex-basis: 100%;
  }

  .card-title {
    height: 60px;
    margin-bottom: 6px;
    padding-bottom: 9px;
  }

  .person {
    display: flex;
    max-width: 1100px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .bio-r, .bio-l{
    font-size: .75rem;
  }

  .bio-l {
    margin-right: 10px;
    margin-left: 10px;
  }

  .bio-r {
    margin-left: 16px;
  }

  .people {
    margin: 0px 40px;
    margin-top: 40px;

  }

  .headshot-l, .headshot-r {
    width: 220px;
    padding: 10px;
    text-align: center;
    color:#0063B2;
    font-weight: 600;
  }



.about-head {
    display: flex;
    padding: 0px 9.2vw;
    margin-top: 100px;
    align-items: center;
}

.about-text {
    text-align: left;
}

.h2-about {
    text-align: left;
    font-size: 1.5rem;
}

.title {
    font-size: .75rem;
    color: #0063B2;
}

.popup {
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #FFC4A3;
    color: #222;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #FFC4A3 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  