/*@font-face {
    font-family:"dyslexie";
    src: url(Dyslexie_Regular_159911.ttf);
}

@font-face {
    font-family:"dyslexie";
    src: url(Dyslexie_Bold_159911.ttf);
    font-weight: bold;
}

@font-face {
    font-family:"dyslexie";
    src: url(Dyslexie_Bold_Italic_159911.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family:"dyslexie";
    src: url(Dyslexie_Italic_159911.ttf);
    font-style: italic;
}

#fcf-form {
    display:block;
}

.fcf-body {
    font-family:"dyslexie";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    max-width: 100%;
}

.fcf-form-group {
    margin: 20px auto;
    max-width: 1000px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    -ms-flex-align: stretch;
    align-items: center;
    width: 100%;
    margin: auto 60px;
}

.fcf-form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 3;
    color: #222;
    background-color: #92FF66;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 0px solid #00C257;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: "dyslexie";
    height: auto;
}


.fcf-btn {
    /*display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;...
    background-color: #EB47C7;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    width: 160px;
    color: white;
    max-width: 300px;
}

.fcf-btn:hover {
    background-color: #ff66de;
    scale: 97%;
}


.fcf-btn-primary {
    color: #fff;
    background-color: #EB47C7;
    border-color: #00ff7b;
    border: 0px;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #ff66de;
    scale: 97%;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #ff66de;
    scale: 97%;
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}*/